########################################################################
## Pipenv_Component_Install
########################################################################
#macro( Pipenv_Component_Install )
      # use pipenv to install Django
      - run:  
          name: Installing Django
          command: |
              pipenv install Django
#end##macro( Pipenv_Component_Install )