########################################################################
## Pipenv_Component_Install
########################################################################
#macro( Pipenv_Component_Install )
- script: pipenv install
  displayName: 'installing project dependencies'
  
- script: pipenv install Django==2.0
  displayName: 'installing django 2.0'
  
- script: pipenv install pytest-django
  displayName: 'installing pytest-django'
#end##macro( Pipenv_Component_Install )