########################################################################
## Pipenv_Component_Install
########################################################################
#macro( Pipenv_Component_Install )
            - pipenv install'
            - pipenv install Django
            - pipenv install pytest-django'
#end##macro( Pipenv_Component_Install )