#macro( determineArgsAsInput $class $varName )
#set( $includePKs = false )
#set( $attributes = ${class.getAttributesOrderedInHierarchy( $includePKs )} )
#set( $argsAsInput = "${varName}.get${className}Id()" )
#if ($attributes.size() > 0)
#set( $argsAsInput = "${argsAsInput}, " )	
#end##if ($attributes.size() > 0)
#foreach( $attribute in $attributes )
#set( $name = $Utils.capitalizeFirstLetter( $attribute.getName() ) )
#set( $argsAsInput = "${argsAsInput}${varName}.get${name}()")
#if ( $velocityCount < $attributes.size() )
#set( $argsAsInput = "${argsAsInput}, " )	
#end##if( $velocityCount < $attributes.size() )
#end##foreach( $attribute in $attributes )
${argsAsInput}#end##macro( determineArgsAsInput $class )