#macro( determineArgsAsInput $class $varName )
#set( $includePKs = false )
#set( $attributes = ${class.getAttributesOrderedInHierarchy( $includePKs )} )
#set( $argsAsInput = "${varName}.get${className}Id()" )
#set( $specificAttributes = [] )
#foreach( $attribute in $attributes )
#set( $isValueObject = $aib.isValueObject( $attribute.getType() ) )
#set( $isFromEnumerator = $attribute.isFromEnumerator() )
#set( $isFromAssociation = $attribute.isFromAssociation() )
#if( $isFromEnumerator == true || $isValueObject == true || $isFromAssociation == false )
#set( $empty = $specificAttributes.add( $attribute ) )
#end##if( $isFromEnumeator == true || $isValueObject == true || $isFromAssociation == false )
#end##foreach( $attribute in $attributes )
#if ( $specificAttributes.size() > 0 )
#set( $argsAsInput = "${argsAsInput},")
#end##if ( $specificAttributes.size() > 0 )
#foreach( $attribute in $specificAttributes )
#set( $name = $Utils.capitalizeFirstLetter( $attribute.getName() ) )
#set( $argsAsInput = "${argsAsInput}${varName}.get${name}()")
#set( $comma = "" )
#if ( $velocityCount < $specificAttributes.size() )
#set( $comma = ", " )
#end##if ( $velocityCount < $attributes.size() )
#set( $argsAsInput = "${argsAsInput}${comma}")
#end##foreach( $attribute in foo )
${argsAsInput}#end##macro( determineArgsAsInput $class )

#macro( determineArgsAsAssignment $class $target $source)
#set( $includePKs = false )
#set( $attributes = ${class.getAttributesOrderedInHierarchy( $includePKs )} )
        ${target}.set${className}Id( ${source}.get${className}Id() );
#foreach( $attribute in $attributes )
#set( $isValueObject = $aib.isValueObject( $attribute.getType() ) )
#set( $isFromEnumerator = $attribute.isFromEnumerator() )
#set( $isFromAssociation = $attribute.isFromAssociation() )
#if( $isFromEnumerator == true || $isValueObject == true || $isFromAssociation == false )
#set( $name = $Utils.capitalizeFirstLetter( $attribute.getName() ) )
        ${target}.set${name}( ${source}.get${name}() );
#end##if( $isFromEnumerator == true || $isValueObject == true || $isFromAssociation == false )
#end##foreach( $attribute in $attributes )
#end##macro( determineArgsAsAssignment $class $target $source)