#macro( formFields )
#set( $includePrimaryKeys = false )
###################################################
## loop thru all attributes, excluding pks
###################################################
#foreach ( $attribute in $classObject.getAttributesOrderedInHierarchy( $includePrimaryKeys ) )  
#set( $name = $attribute.getName() )
#set( $title = $name )
  <p>
    <%= form.label :${title} %><br>
###################################################
## if not from an association
###################################################				
#if ( $attribute.isFromAssociation() == false )			
###################################################
## handle enumerated types as select with options
###################################################				
#if ( $attribute.isFromEnumerator() == true )
#set( $includePKs = false )
#set( $includeTypes = false )
#set( $includeAssociations = false )
#set( $delim = "," )
#set( $suffix = "" )
#set( $enumValues = ${attribute.getClassObject().getAttributesAsString( ${includePKs}, ${includeTypes}, ${includeAssociations}, ${delim}, ${suffix} )} )
  <%= form.select :${name}, [${enumValues}] %>
#else##if ( $attribute.isFromEnumerator() == true )
###################################################
## handle primitive types...not associations yet
###################################################
###################################################
## handle booleans as a checkbox
###################################################
#if ( $type.endsWith( "oolean") == true )
	<%= form.check_box :${name} %>
###################################################
## handle date using the ngbDatePicker
###################################################				
#else
#set( $isRequired = $attribute.isRequired() )
#set( $controlsRequired = false )
#if ( $type.endsWith( "Date" ) )
    <%= form.date_field :${name} %>
###################################################
## handle time using the nbg-timepicker
###################################################
#elseif ( $type.endsWith( "Time" ) )
    <%= form.time_field :${name} %>
###################################################
## handle numerics as an input text
###################################################
#elseif ( $type.endsWith( "Short" ) || $type.endsWith( "Integer" ) || $type.endsWith( "Long" ) )
	<%= form.text_field :${name} %>
###################################################
## handle all by default as input text
###################################################
#else
	<%= form.text_field :${name} %>
#end## of all none-boolean values
#end##if ( $type.endsWith( "Date" )
#end##if ( $attribute.isFromEnumerator() == false )
###################################################
## attribute is from an association
###################################################
#else
#set( $roleName = ${attribute.getAssociation().getRoleName()} )
    <h2>${roleName}</h2>
    <%= render @${classObject.getName()}.${roleName} %>
#end##if ( $attribute.isFromAssociation() == false )			
#end##foreach ( $attribute in $classObject.getAttributesOrderedInHierarchy( $includePrimaryKeys ) )      
  </p>
#end##macro( formFields )