########################################################################
## CircleCI Macros
########################################################################

########################################################################
## CircleCI Docker Image Output - Default is for Java8/MySQL images
########################################################################
#macro( CircleCI_OutputDockerImageDecl )        
    # CircleCI Ruby
    # Postgres image
    docker:
      - image: cimg/ruby
      - image: postgres
        # required env vars
        environment:
            POSTGRES_DB: ${appName}DB
            POSTGRES_USER: root
            POSTGRES_PASSWORD: letmein2 
#end##macro( CircleCI_OutputDockerImageDecl )

########################################################################
## CircleCI Run Commands
########################################################################
#macro( CircleCI_RunCommands )
      - run: 
          name: Install dependencies...
          command: install --path vendor/bundle
          
          name: Build/Test...
          command: bundle exec rake   
#end###macro( CircleCI_RunCommands )

########################################################################
## CircleCI EnvVarAssignments
########################################################################
#macro( CircleCI_EnvVarAssignments )
    environment:
        POSTGRES_DB: ${appName}DB
        POSTGRES_USER: root
        POSTGRES_PASSWORD: letmein2 
#end##macro( CircleCI_EnvVarAssignments )