#macro( declareAggregateAttributes $class )
#set( $includePKs = false )
#foreach( $attribute in $class.getDirectAttributes( $includePKs ) )
#set( $attributeName = $Utils.lowercaseFirstLetter( $attribute.getName() ) )
#set( $attributeType = $attribute.getType() )
    private ${attributeType} ${attributeName};
#end###foreach( $attribute in $class.getDirectAttributes( $includePKs ) )
#end##macro( declareAggregateAttributes )

#macro( declareAggregateAssociations $class )
#foreach( $association in $class.getAssociations() )
#set( $associationName = $Utils.lowercaseFirstLetter( $association.getRoleName() ) )
#set( $associationType = $association.getType() )
#set( $defaultValue = "null" )
#set( $qualifier = "private ")
#if( $association.isMultivalued() == true )
#set( $associationType = "Set<${associationType}>" )
#set( $defaultValue = "new HashSet<>()" )
#end##if( $attribute.isMultivalued() == true )
    ${qualifier}${associationType} ${associationName} = $defaultValue;
#end###foreach( $attribute in $class.getDirectAttributes( $includePKs ) )
#end##macro( applyAggregateAttributes )

#macro( applyAggregateAttributes $class $var )
#set( $includePKs = false )
#foreach( $attribute in $class.getDirectAttributes( $includePKs ) )
#set( $name = $Utils.lowercaseFirstLetter( $attribute.getName() ) )
        this.${name} = ${var}.get${Utils.capitalizeFirstLetter( $name )}();
#end###foreach( $attribute in $class.getDirectAttributes( $includePKs ) )
#end##macro( applyAggregateAttributes )